aside, aside a {
    color: #fff;
}
a {
    color: #d9411e;
    text-decoration: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
aside nav ul li {
    display: inline;
    line-height: 1.6em;
    font-size: 1.28em;
    text-transform: capitalize;
}